name: Build and Push to Docker Hub

on:
  push:
    branches:
      - "main"  # Triggers when you push to the main branch
  workflow_dispatch: # Allows you to run this manually from the Actions tab

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.thenerdling }}
          password: ${{ secrets.dckr_pat_p49UWfcHVwvfMpdflmj0txdEgHE }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Replace 'yourusername' with your actual Docker Hub username
          tags: |
            thenerdling/gpu-monitor:latest
            thenerdling/gpu-monitor:${{ github.run_number }}
